/* a style for terrain rgb detector button */
.maplibre-identify-icon {
	background: url('images/information.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

.maplibre-identify-icon.-active {
	background-color: #ffae00;
}
